
CopyDirectory/bin/
CopyDirectory/obj/
.vs
CopyDirectory.Tests/bin
CopyDirectory.Tests/obj
CopyDirectory.Services/bin/
CopyDirectory.Services/obj/
CopyDirectory.Shared/bin/
CopyDirectory.Shared/obj/
CopyDirectory/Properties/
